mysql-connector-python==8.0.33
nltk==3.8.1
pandas==2.0.3
streamlit==1.28.0
plotly==5.18.0
matplotlib==3.7.3
python-dotenv==1.0.0
langchain==0.0.337
langchain-groq==0.0.6
langchain-community==0.0.13
langchain-qdrant==0.0.1
qdrant-client==1.6.9
transformers==4.34.1
torch==2.1.0
praw==7.7.1
discord.py==2.3.2
slack-sdk==3.23.0
fastembed==0.1.1